name: Case moved to In Progress

on: repository_dispatch

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
          - name: Getting tiggered from a Case!
            shell: bash
            run: echo 'Getting tiggered from a Case! yeah!'
          - name: Check out the source code
            uses: actions/checkout@v1
          - name: Populate auth file with SFDX_URL secret
            shell: bash
            run: echo ${{ secrets.DEV_HUB_SFDXURL}} > ./SFDX_URL_STORE.txt
          - name: Authenticate against dev hub
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:auth:sfdxurl:store --sfdxurlfile=./SFDX_URL_STORE.txt --setalias=devhub --setdefaultdevhubusername
          - name: Create scratch org
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:org:create --definitionfile=config/project-scratch-def.json orgName=Dreamhouse_Case_${{ github.event.client_payload.caseNumber }} --setalias=scratch-org --setdefaultusername 
          - name: Push source
            uses: forcedotcom/salesforcedx-actions@master
            if: false
            with:
                args: force:source:push
          - name: Create user
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:user:create --definitionfile=config/user-def.json --setalias=new-user
          - name: Change password
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:user:password:generate --targetusername=new-user
          - name: Display user information
            id: display_user
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:user:display --targetusername=new-user --json
          - name: Display open url
            id: display_url
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:org:open --urlonly --targetusername=new-user --json
          - name: Display org information
            id: display_org
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:org:display --targetusername=new-user --verbose --json
          - name: Logging info!
            shell: bash
            run: |
              echo ${{ toJson(steps.display_url.outputs.result) }}
              echo ${{ toJson(steps.display_user.outputs.result) }} 
          - name: Convert Display open url output to object
            id: display_url_object
            uses: aabrego/json-to-object-action@master
            with:
                json-string: ${{ steps.display_url.outputs.result }}
           - name: Echo Convert Display open url output to object
              shell: bash
            run: |
              echo ${{ toJson(steps.display_url_object.outputs.object }}
          - name: Update Case with Scratch Org info
            id: update_case
            uses: forcedotcom/salesforcedx-actions@master
            with:
                args: force:data:record:update -s Case -i ${{ github.event.client_payload.caseId }} -v "Scratch_Org_Open_Url__c=${{ steps.display_url_object.outputs.object.result.url }}"

